- currency = @currency
- title = "#{currency} faucet".titleize
- content_for(:title, title)

%header.main-header
  .header-content
    %h1.title= title
    %p.intro
      On this site you can give or receive free #{currency.pluralize}
    - if @state.testnet?
      .testnet-warning
        .content #{currency.pluralize.capitalize} are not real coins. They are only useful for developpers and have absolutely no monetary value!
%section.main-content
  %article.receive-section
    .content
      %h2.title Receive #{currency.pluralize}
      %p.description
        You can receive #{pluralize FaucetConfig["amount_per_request"], currency} just by filling the form below.

      - if @state.empty?
        .empty-faucet-warning
          %p
            %strong Warning:
            The faucet is empty. Your request will not be processed until new coins are donated.
          - if (url = FaucetConfig["donation_request_url"]).present?
            %p You can request donations #{link_to "here", url}.
      .receive-form
        = form_for @coin_request, url: url_for do |f|
          - if @coin_request.errors.any?
            .errors
              .intro Some errors blocked your request:
              .list
                - @coin_request.errors.full_messages.each do |error|
                  .error= error
          .address-field
            = f.label :address, "Your #{currency} address"
            = f.text_field :address
          - if FaucetConfig["captcha"]
            .captcha
              = recaptcha_tags ssl: request.ssl?, ajax: true
          .submit
            = f.submit "Receive #{currency.pluralize}"
      %p.limit-notice
        Your IP is limited to 1 request every #{FaucetConfig["request_time_frame_duration"]}.
        %br
        Requests are fulfilled every #{FaucetConfig["time_between_request_fulfilling"]} if there is enough #{currency} given by donators.
  %article.give-section
    .content
      %h2.title Give #{currency.pluralize}
      %p.address Address: #{@state.address}
      %p.description
        Your can give to others by sending #{currency.pluralize} to the address above.
%section.bottom-section
  %article.state-section
    %h2.title Current state
    %p.current-balance Balance: #{pluralize @state.balance, currency}
    %p.last-transactions-intro Last transactions:
    %table.transaction-list
      %thead
        %tr
          %th.date Date (UTC)
          %th.category Category
          %th.amount Amount
          %th.address Address
          %th.confirmations Confirmations
          %th.fee Fee
      %tbody
        - (@state.last_transactions || []).reverse.each do |transaction|
          %tr.transaction-row
            %td.date= l(Time.zone.at(transaction["time"]), format: :short)
            %td.category= transaction["category"].humanize
            %td.amount= transaction["amount"]
            %td.address= transaction["address"]
            %td.confirmations= transaction["confirmations"]
            %td.fee= transaction["fee"]
    - pending_requests = CoinRequest.not_fulfilled
    %p.pending-requests-intro Pending requests (#{pending_requests.size}):
    %table.pending-requests
      %thead
        %tr
          %th.date Date (UTC)
          %th.address Address
      %tbody
        - pending_requests.each do |request|
          %tr.request-row
            %td.date= l(request.created_at, format: :short)
            %td.address= request.address
    .all-requests-link= link_to "All requests", requests_path
%footer#footer
  .content
    .links
      = link_to "Project page", "https://github.com/sigmike/peercoin-faucet"

  %a.github-ribbon{:href => "https://github.com/sigmike/peercoin-faucet"}
    = image_tag "forkme_right_gray_6d6d6d.png", alt: "Fork me on GitHub", style: "position: absolute; top: 0; right: 0; border: 0;"
