%header.main-header
  .header-content
    %h1.title Peercoin Faucet
    %p.intro On this site you can give or receive free Peercoins
%section.main-content
  %article.receive-section
    .content
      %h2.title Receive Peercoins
      .receive-form
        = form_for @coin_request, url: url_for do |f|
          - if @coin_request.errors.any?
            %ul.errors
              - @coin_request.errors.full_messages.each do |error|
                %li.error= error
          = f.label :address
          = f.text_field :address
          - if FaucetConfig["captcha"]
            = recaptcha_tags ssl: request.ssl?, ajax: true
          = f.submit "Receive Peercoins"
  %article.give-section
    .content
      %h2.title Give Peercoins
      %p.address Address: #{@state.address}
%section.bottom-section
  %article.state-section
    %h2.title Current state
    %p.current-balance Balance: #{@state.balance} PPC
    %table.transaction-list
      %thead
        %tr
          %th.date Date (UTC)
          %th.category Category
          %th.amount Amount
          %th.address Address
          %th.confirmations Confirmations
          %th.fee Fee
      %tbody
        - (@state.last_transactions || []).each do |transaction|
          %tr.transaction-row
            %td.date= l(Time.zone.at(transaction["time"]), format: :short)
            %td.category= transaction["category"].humanize
            %td.amount= transaction["amount"]
            %td.address= transaction["address"]
            %td.confirmations= transaction["confirmations"]
            %td.fee= transaction["fee"]
