- title = "Request list - " + "#{@currency} faucet".titleize
- content_for(:title, title)

%header.main-header
  .header-content
    %h1.title= title
%section.main-content
  - @requests = CoinRequest.order('created_at DESC').paginate(page: params[:page], per_page: params[:per_page] || 200)
  %table.request-table
    %thead
      %tr
        %th.date Date
        %th.address Address
        %th.sent Sent
    %tbody
      - @requests.each do |request|
        %tr
          %td.date= l(request.created_at)
          %td.address
            - if (url = FaucetConfig["explorer_url"]).present?
              - url = url.sub("{{ADDRESS}}", request.address)
              = link_to request.address, url
            - else
              = request.address
          %td.sent
            = request.fulfilled? ? "Yes" : "No"
  = will_paginate(@requests)
