!!!
%html{:lang => I18n.locale}
  %head
    %meta{charset: "utf-8"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/
    %title= content_for?(:title) ? yield(:title) : "Peercoin Faucet"
    = stylesheet_link_tag    "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    - if flash.any?
      %section#flashes
        - flash.each do |kind, message|
          .flash-container
            .flash{class: kind}
              = message
              %a.close{:href => "#"} &times;
    = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true
    - if (code = FaucetConfig["tracking_code"]).present?
      != code
